html body {
  font-size: 100%;
  height: 100%;
  background-color: #000000;
  height: 100%;
  padding: 0;
}
.loading-screen {
  width: 100vw;
  height: 100vh;
  background-color: #cfe5e5;
  text-align: center;
  padding-top: 30vh;
  z-index: 999;
}
.loading-screen-loading-gif {margin-top: 10vh;}
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
.bg-list {background-color: #cfe5e5}
.bg-list-header {background-color: #acd3d2}
.modal {
  display: block;
  background-color: rgba(200, 200, 200, 0.9);
}

#my-container {
  position: relative;
  width: 100vw;
  max-width: 568px;
  background-color: #1f3e3d;
  margin: 0, auto;
  padding: 0;
  overflow: hidden;
}
.fullscreen-button {
  position: fixed;
  top:70px;
  right: 10px;
  opacity: 0.5;
}
.info-box {
  position: absolute;
  top: 80px;
  left: 34px;
  color: #fff;
  background-color: #193030;
  max-height: 80vh;
  max-width: 500px;
  padding: 20px;
  z-index: 100;
  overflow-y: scroll;
}
.my-navbar {
  height: 60px;
  width: 100vw;
  max-width: 568px;
  background-color: #193030;
  margin: auto;
  color: #ffffff;
  overflow-x: hidden;
  overflow-y: hidden;
}
.my-navbar-header {
  padding-bottom: 20px;
  font-size: 30px;
}
#logo {
  height: 30px;
  width: auto;
}
#me-bulb {
  height: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.cob-image {
  width: 30px;
  height: auto;
  margin-bottom: 10px;
}
.bg-map {
  background-image:url('images/reconquista-iso-map.jpg');
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
  height: 100%;
  min-width: 100%;
}
.action-controls {
  overflow: hidden;
}
.my-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 50px;
  max-width: 568px;
  margin: auto;
  background-color: #193030;
  color: #ffffff;
  border-top: 1px solid #fff;
  z-index: 25;
}
.my-footer-bg {
  min-height: 50px;
}
.my-footer img {
  margin-bottom: 30px;
  height: 20px;
  width: auto;
}
@media only screen and (min-width: 560px) {
  .my-card-header { font-size: 1.2em; }
  .my-card-text-box { font-size: 1.0em; }
  .my-card { width: 29.2%; margin: 1%; }
  .my-hand { bottom: -10px; }
  .info-box { width: 500px; left: 34px;}
}
@media only screen and (max-width: 560px) {
  .my-card-header { font-size: 3.6vw; }
  .my-card-text-box { font-size: 2.9vw; }
  .my-card { max-width: 30vw; margin: 1vw;}
  .my-hand { bottom: calc(15vw + 50px); }
  .info-box { width: 84vw; left: 8vw; }
}
.my-hand {
  position: absolute;
  max-width: 568px;
  width: 568px;
  z-index: 20;
}
.my-card {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.my-card-bg-image {
  width: 100%;
  height: auto;
  pointer-events: none;
}
.my-card-corner-image {
  position: absolute;
  left: 10%;
  top: 7.1%;
  width: 17%;
  pointer-events: none;
}
.my-card-header {
  position: absolute;
  width: 100%;
  top: 7.1%;
  color: #ffffff;
  padding-left: 32%;
  text-align: left;
  pointer-events: none;
}
.my-card-text-box {
  position: absolute;
  width: 100%;
  top: 60.91%;
  height: 32.57%;
  color: #ffffff;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.my-card-text {
  padding-left: 10.92%;
  padding-right: 10.92%;
  pointer-events: none;
  text-align: center;
}
.my-card-mid-image {
  position: absolute;
  width: 57.92%;
  top: 24.10%;
  left: 20.76%;
  margin: auto;
  pointer-events: none;
}
.piece {
  padding-left: 15px;
  padding-top: 20px;
  animation-iteration-count: 1;
  pointer-events: none;
}
.piece-image {
  pointer-events: none;
}
.piece-me-bulb, .piece-choosen-bulb {
  position: absolute;
  padding-left: 70px;
  top: -5px;
  pointer-events: none;
  z-index: 15;
}
.piece-active-zone {
  position: absolute;
  top:80px;
  left: 75px;
  width: 60px;
  height: 70px;
}

@keyframes move-n {
  from {padding-left: 0px; padding-top: 20px;}
  to {padding-left: 30px; padding-top: 0px;}
}

@keyframes move-s {
  from {padding-left: 30px; padding-top: 0px;}
  to {padding-left: 0px; padding-top: 20px;}
}

#arrow-n {
  animation-name: move-n;
  animation-duration: 2s;
  animation-iteration-count: 20;
  z-index: 10;
}

#arrow-s {
  animation-name: move-s;
  animation-duration: 2s;
  animation-iteration-count: 20;
  z-index: 10;
}
.burn-button {
  position: absolute;
  right: 55px;
  bottom: 100px;
  height: 50px;
  width: 50px;
  z-index: 30;
}
.next-button {
  position: absolute;
  right: 55px;
  bottom: 100px;
  height: 50px;
  width: 50px;
  z-index: 30;
}
.wait-button {
  position: absolute;
  right: 55px;
  bottom: 100px;
  height: 50px;
  width: 50px;
  z-index: 30;
  animation: cdwn-opacity 180s linear;
}
.cdwn-wrapper {
  right: -44px;
  bottom: -44px;
  width: 90px;
  height: 90px;
  position: absolute;
}
.cdwn-pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  border: 6px solid #666666;
}
.cdwn-spinner {
  border-radius: 45px 0 0 45px;
  z-index: 200;
  border-right: none;
  animation: cdwn-rota 180s linear infinite;
}
.cdwn-filler {
  border-radius: 0 45px 45px 0;
  z-index: 100;
  border-left: none;
  left: 50%;
  opacity: 1;
}
@keyframes cdwn-rota {
  0%   { transform: rotate(180deg); }
  85% { transform: rotate(360deg); }
  90%,100% { transform: rotate(180deg); }
}
@keyframes cdwn-opacity {
  0%,99%   { opacity: 1;}
  100% { opacity: 0;}
}
